[submodule "pytch-tutorials"]
	path = pytch-tutorials
	url = ../pytch-tutorials
[submodule "pytch-vm"]
	path = pytch-vm
	url = ../pytch-vm
[submodule "pytch-build"]
	path = pytch-build
	url = ../pytch-build
[submodule "pytch-webapp"]
	path = pytch-webapp
	url = ../pytch-webapp
[submodule "pytch-website"]
	path = pytch-website
	url = ../pytch-website
[submodule "pytch-medialib"]
	path = pytch-medialib
	url = ../pytch-medialib.git
[submodule "pytch-specimens"]
	path = pytch-specimens
	url = ../pytch-specimens
